* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav--logo {
  width: 5vw;
  padding-top: 1vh;
}
/* body {
  padding: 10px;
} */

header {
  /* color: white; */
  font-size: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10%;
}

header a {
  color: black;
}

.nav__links {
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 70px;
}

.nav__links > div {
  padding: 0px 60px 0px;
}

.nav__links div a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav__links div a:hover {
  color: #4200ff;
}

/* CSS */
.button-3 {
  appearance: none;
  /* background-color: #2ea44f; */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-3 a {
  text-decoration: none;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #4200ff;
}
.button-3:hover a {
  color: white;
  text-decoration: none;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.flex-container {
  font-family: monospace;
  text-align: center;
  font-size: 44px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #e9f3f8;
  border: 2px solid #000;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  height: 350px;
  align-content: center;
}

.flex-container > div {
  width: 100px;
  margin: 20px 15px;
  padding: 10px;
  line-height: 75px;
  background-color: #f59100;
  border: 2px solid #000;
}
